/* .collapses{
    display: flex;
    justify-content: space-between;
} */
img{
    width: 100%;
    height: 100vh;
    position: relative;
}
.add_text{
    position: absolute;
    z-index: 4;
    margin-top: 237px;
    margin-left: 550px;
    font-family: serif;

}
span{
    color: #ffc683;
}
.add_text{
    position: absolute;
    z-index: 4;
    margin-top: 237px;
    margin-left: 100px;
    font-family: serif;

}
.ddd{
    position: absolute;
    z-index: 4;
    margin-top: 300px;
    margin-left: 150px;
    font-family: serif;
    color: white;

}
.fff{
    position: absolute;
    z-index: 4;
    font-family: serif;
    margin-top: 350px;
    margin-left: 550px;
    padding: 12px 30px;
    background-color:rgb(53, 51, 51);
    color: rgb(255, 237, 237);
}
.mm{
    width: 750px;
    height: 650px;
    position: absolute;
    z-index: 4;
}
.Secsecond{
    width: 642px;
    height: 340px;
    background-color: #444444;
    position: absolute;
    z-index: 4;
    margin-top: 0px;
    margin-left: 640px;
}
.ref{
    width: 642px;
    height: 340px;
}

.Second{
    display: flex;
    justify-content: flex-start;
}
.A{
    height: 280px;
    width: 450px;
}
.B{
    height: 280px;
    width: 384px;
    background-color: #f7c08a;
}
.C{
    height: 280px;
    width: 450px;
}
.classes{
    display: flex;
    justify-content: flex-start;
}
.Nadpis{
    padding-left: 150px;
    padding-top: 40px;
    font-size: 30px;
    font-family: serif;
}
.QQ{
    font-family: serif;
    color: black;
    padding-left: 40px;
    padding-right: 40px;
    font-size: small;
}
.button{
    margin-left: 220px;
    font-family: serif;
}    
i{
    margin-left: 155px;
    margin-top: 57px;
    font-size: 70px;
    color: black;
}
h3{
    margin-left: 110px;
    font-family: serif;
}
.nizz{
    margin-left: 35px;
    font-size: 15px;
    font-family: serif;
    padding-left: 45px;
    padding-right: 30px;
}
.ende{
    height: 45px;
    width: 1390px;
    background-color: rgb(77, 75, 75);
    font-family: serif;
}
strong{
    margin-left: 430px;
    padding-bottom: 10px;
    color: white;
}